.hero{
    margin: 0;
    height: 50vw;
    width: 100vw;
    background-color: grey;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    .slogan{
        position:absolute;
        z-index: 2;
        color: rgba(0, 77, 77, 1);
        font-size: 2em;
        box-shadow: 2px 2px 5px #999;
    }
    img{
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}