*{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
a{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #040342;
}
a:hover{
    font-size: large;
    color: peru;
}